@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Italianno&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}
